@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  margin: 0;
  background-image: url("/static/img/backdrop.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

nav {
  display: grid;
  grid-template-columns: 1.25fr 1.25fr 0.5fr 0.5fr 1.25fr 1.25fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  background: #5d5d5d;
}

@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
 }
}  

.logo {
  grid-column: 3;
  background-image: url("/static/img/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 6vh;
}

.box1 {
  grid-column: 1;
}

.box2 {
  grid-column: 2;
}

.box3 {
  grid-column: 3;
}

.box4 {
  grid-column: 4;
}

.box3 {
  grid-column: 5;
}

.box4 {
  grid-column: 6;
}

.navLinks {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.navLinks:hover {
  color: white;
  background-color: #272727;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 1em 1em;
}

#twist {
  color: blue;
}