h1 {
    font-size: 4em;
    color: white;
}

p {
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    
}
button {
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    background-color: #2699FB;
}