body{
    font-family: Verdana, sans-serif;
    background-color: black;
}  

input {
    text-align: center;
    font-size: 1.5em;
}

button {
    background-color: green;
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
}

.main {
    border-radius: 5px;
    width: auto;
    height: auto;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

    