
{% extends 'base.html' %} {% block content %}
<div class="main">
    <div class="about-text">
        <h1>About</h1>
        <p>The Idea of the IRiddle game is to display 20 riddles picked from a list of the top 100 riddles.</p> 
        <p>The user is then asked to guess the correct answer.</p>
        <p>The user will receive 10 points for every question answered correctly and 3 points will be removed for every incorrect answer</p>
        <p>Your score will be displayed on the scores page when the game is completed along with previous scores from other users.</p>
        <p>Each of your incorrect answers will be displayed so you dont make the same mistake twice.</p>
    </div>
    
</div>
{% endblock %}