<html>

<head>
    <title>IRiddle</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/game.css') }}" rel='stylesheet' type='text/css'>
</head>

<body>
    
    <header>
      <nav class="container">
        <div class="box1">
            <div class="logo">
            </div>
        </div>
        <div class="box2">
            <a href="#" class="navLinks"></a>
        </div>
        <div class="box3">
            <a class="navLinks" href="{{ url_for('index') }}">Home</a>
        </div>
        
        <div class="box4">
            <a class="navLinks" href="{{ url_for('about') }}">About</a>
        </div>
        
      </nav>
    </header>
    

    {% block content %} {% endblock %}
</body>

</html>