<html>
    <meta name="viewport" content="width=device-width" />

<head>
    <title>IRiddle</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/game.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/about.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/question.css') }}" rel='stylesheet' type='text/css'>
</head>

<body>
    
    <header>
      <nav class="nav">
        <div class="box1">
            <div class="logo">
            </div>
        </div>
        <div class="box3">
            <a class="navLinks" href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="box4">
            <a class="navLinks" href="{{ url_for('about') }}">About</a>
        </div>
      </nav>
    </header>
    

    {% block content %} {% endblock %}
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>