{% extends 'base.html' %} {% block content %}
<div class='main'>
    <h1>Questions</h1>  
    <form method="POST">
        <h2>Lets Play, {{ username }}</h2>
        <p>{{ question }}</p>
        <label for='username'>Please enter your answer...</label> <br><br>
        <input type="text" id='answer' name='answer'/><br><br>
        <button type='submit' onclick="add_element_to_array()">Submit</button>
    </form>
    
    <ul>
        {% for guess in w_guess %}
        
            <li><p>Guess: {{ guess }}</p></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}